body {
	font-family: "Calibri", sans-serif;
	font-size: 30;
	margin-left: 60px;
	margin-right: 60px;
	padding-top: 30px;
	color: #ffffff;
	background: #121212;
}

#badge {
	height: 120px;
	width: 120px;
	transition: filter 0.75s, transform 0.5s, margin-bottom 0.5s;
}
#badge:hover {
	filter: brightness(1.5);
	transform: scale(1.08) ;
	margin-bottom: -10px;
}
