body {
	font-family: "Calibri", sans-serif;
	font-size: 30;
	margin-left: 60px;
	margin-right: 60px;
	padding-top: 30px;
	color: #ffffff;
	background: #121212;
}

#badge {
	height: 120px;
	width: 120px;
}